body {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: Roboto,Helvetica Neue,sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

.fill{
  flex: 1 1 auto;
}

.center {
  text-align: center;
}

a[routerLink] {
  color: #fff;
  text-decoration: none;
}

.center-container {
  width: 90%;
  margin: 20px auto;
}

.container {
  width: 90%;
  margin: 20px auto;
}

form {
  margin-top: 20px;
}

form md-input-container {
  margin-bottom: 10px !important;
  width: 100%;
}

/* container */

@media (min-width: 480px) {
  .center-container {
    width: 80%;

  }
}

@media (min-width: 768px) {
  .center-container {
    width: 60%;

  }
}

@media (min-width: 992px) {
  .center-container {
    width: 40%;

  }
}

/* loader */

.loader {
  animation: rotate 0.8s infinite linear;
  border: 8px solid #3f51b5;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 100px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/* sidenav */

.sidenav-container {
  flex: 1;
}

.sidenav {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  width: 300px;
}

.sidenav, .sidenav-content {
  padding: 20px;
}

.company-logo {
  background-color: #999;
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  position: relative;
}


