<div class="center-container">
  <form [formGroup]="loginForm" (submit)="submit(loginForm.value)">
    <md-input-container>
      <input mdInput type="email" placeholder="Email" [formControl]="loginForm.controls['email']">
    </md-input-container>
    <md-input-container>
      <input mdInput type="password"  placeholder="Password" [formControl]="loginForm.controls['password']">
    </md-input-container>
    <button type="submit" md-raised-button color="primary" [disabled]="!loginForm.valid || loading">Login</button>
    <button type="button" md-raised-button routerLink="/auth/register">Register</button>
    <button type="button" md-button color="primary" routerLink="/auth/forgot-password">Forgot password?</button>
  </form>
</div>
