<div class="container">
    <h4 *ngIf="customer">
      Hi {{ customer.name }}! You were invited by {{customer.user.name}} {{customer.user.lastName}}
    </h4>
    <div *ngIf="questionsForm">
      <form [formGroup]="questionsForm" (submit)="submit(questionsForm.value)">
        <div formArrayName="questions">
          <div *ngFor="let question of questionsForm.controls.questions.controls; let i = index">
            <div [formGroupName]="i" class="question-wrapper">
              <div class="question">{{questionsForm.controls.questions.controls[i].controls.question.value}}</div>
              <app-likert [control]="questionsForm.controls.questions.controls[i].controls.answer"></app-likert>
            </div>
          </div>
        </div>
        <button type="submit" md-raised-button color="primary" [disabled]="loading || notAvailable">Submit</button>
      </form>
    </div>
</div>


