<!--<md-sidenav-container class="sidenav-container" open>-->
  <!--<md-sidenav #sidenav class="sidenav" opened="true" mode="side">-->
    <!--<div class="company-logo"></div>-->
  <!--</md-sidenav>-->

  <!--<div class="sidenav-content">-->
<div class="container">
    <h4 *ngIf="customer">
      Hi {{ customer.name }}. You were invited by {{customer.user.companyName || '-'}}.
    </h4>
    <div *ngIf="questionsForm">
      <form [formGroup]="questionsForm" (submit)="submit(questionsForm.value)">
        <div formArrayName="questions">
          <div *ngFor="let question of questionsForm.controls.questions.controls; let i = index">
            <div [formGroupName]="i">
              <span class="question">{{questionsForm.controls.questions.controls[i].controls.question.value}}</span>
              <md-slider min="0" max="10" step="1" thumb-label="true" formControlName="answer"></md-slider>
            </div>
          </div>
        </div>
        <button type="submit" md-raised-button color="primary" [disabled]="loading || notAvailable">Submit</button>
      </form>
    </div>
</div>
  <!--</div>-->

<!--</md-sidenav-container>-->

