<md-toolbar color="primary">
  <!--<button *ngIf="showToggleButton()" md-icon-button >-->
    <!--<md-icon (click)="sidenav.close()">menu</md-icon>-->
  <!--</button>-->
  <a routerLink="/"><span class="brand" >Recruitify</span></a>
  <span class="fill"></span>
  <button *ngIf="!isAuthenticated()" md-button routerLink="/auth/login">
    Login
  </button>
  <button *ngIf="!isAuthenticated()" md-button routerLink="/auth/register">
    Register
  </button>
  <button *ngIf="isAuthenticated()" md-button routerLink="/dashboard">
    Statistics
  </button>
  <button *ngIf="isAuthenticated()" md-button routerLink="/dashboard/invite">
    Invite
  </button>
  <button *ngIf="isAuthenticated()" md-button routerLink="/dashboard/customers">
    Customers
  </button>
  <button *ngIf="isAuthenticated()" md-button routerLink="/dashboard/reviews">
    Reviews
  </button>
  <button *ngIf="isAuthenticated()" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Log out</span>
    </button>
  </md-menu>
</md-toolbar>

