<div class="center-container">
  <h1 class="center">Register</h1>
  <form [formGroup]="registerForm" (submit)="submit(registerForm.value)">
    <md-input-container>
      <input mdInput type="text"  placeholder="Name" [formControl]="registerForm.controls['name']">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text"  placeholder="Last name" [formControl]="registerForm.controls['lastName']">
    </md-input-container>
    <md-input-container>
      <input mdInput type="email"  placeholder="Email" [formControl]="registerForm.controls['email']">
    </md-input-container>
    <md-input-container>
      <input mdInput type="password"  placeholder="Password" [formControl]="registerForm.controls['password']">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text"  placeholder="Company" [formControl]="registerForm.controls['companyName']">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text"  placeholder="Phone number" [formControl]="registerForm.controls['phone']">
    </md-input-container>
    <button type="submit" md-raised-button color="accent" [disabled]="!registerForm.valid || loading">Register</button>
    <button type="button" md-raised-button color="primary" routerLink="/auth/login">Login</button>
  </form>
</div>
